<header th:fragment="fragmentHeader">
        <div class="header-left">
            <h1>ENI-Enchères</h1>
        </div>
        <nav class="header-right">
            <ul>
            	<a href="#">S'inscrire</a>
                <a href="/login">Se connecter</a>
                <li><a href="#">Enchères</a></li>
                <li><a href="#">Vendre un article</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </nav>
    </header>