<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENI-Enchères - Inscription</title>
</head>
<body>  
        <main>
         <div th:replace="/fragments/fragmentHeader ::fragmentHeader"></div>
            <h1>ENI-Enchères</h1>
           <div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>
            <h2>Mon profil</h2>
            <form th:object="${utilisateur}" th:action="@{/inscription}" method="post">
                <div class="form-group">
                    <label for="inputPseudo">Pseudo :</label>
                    <input id="inputPseudo" type="text" name="pseudo" th:field="*{pseudo}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('pseudo')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputNom">Nom :</label>
                    <input id="inputNom" type="text" name="nom" th:field="*{nom}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputPrenom">Prénom :</label>
                    <input id="inputPrenom" type="text"  name="prenom" th:field="*{prenom}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email :</label>
                    <input id="inputEmail" type="email" name="email" th:field="*{email}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputTelephone">Téléphone :</label>
                    <input id="inputTelephone" type="tel" name="telephone" th:field="*{telephone}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputRue">Rue :</label>
                    <input id="inputRue" type="text" name="rue" th:field="*{rue}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('rue')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputCode_postal">Code postal :</label>
                    <input id="inputCode_postal" type="text" name="code_postal" th:field="*{code_postal}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('code_postale')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputVille">Ville :</label>
                    <input id="inputVille" type="text" name="ville" th:field="*{ville}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('ville')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputMot_de_passe">Mot de passe :</label>
                    <input id="inputMot_de_passe" type="password" name="mot_de_passe" th:field="*{mot_de_passe}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('mot_de_passe')}"></ul>
                </div>
                <div class="form-group">
                    <label for="inputConfirmation">Confirmation :</label>
                    <input id="inputConfirmation" type="password" name="confirmation" th:field="*{confirmation}" required>
                    <ul data-th-replace="~{fragments/errors/fragment-error :: frag-error('confirmation')}"></ul>
                </div>
                <div class="buttons">
                    <button type="submit">Créer</button>
                    <button type="reset">Annuler</button>
                </div>
            </form>
        </main>
</body>
</html>

