<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Utilisateur</title>
    <style>
    </style>
</head>

<body>
        <h1>ENI-Enchères</h1>
        <div class="username">PseudoUtilisateur</div>
        <div class="profile-info">
            <div><span>Nom :</span> NomUtilisateur</div>
            <div><span>Prénom :</span> PrenomUtilisateur</div>
            <div><span>Email :</span> EmailUtilisateur</div>
            <div><span>Téléphone :</span> TelephoneUtilisateur</div>
            <div><span>Rue :</span> RueUtilisateur</div>
            <div><span>Code Postal :</span> CodePostalUtilisateur</div>
            <div><span>Ville :</span> VilleUtilisateur</div>

            <div class="button-container">
                <button class="edit-button" onclick="modifierProfil()">Modifier</button>
            </div>
        </div>
    
</body>

</html>